<template>
    <div class="w-11/12 lg:w-4/12 mx-auto rounded-2xl p-4 my-4 backdrop-blur-md bg-white/20 text-white text-center">
        <img :src="'/storage/background/404.png'" class="rounded-2xl" alt="404 page not found">
    </div>
</template>

<script>
export default {
    name: "404"
}
</script>

<style scoped>

</style>
