<template>
    <div class="w-11/12 lg:w-4/12 mx-auto">
        <div class="w-full rounded-2xl p-4 my-4 backdrop-blur-md bg-white/20 text-white text-center">
            Chat list
        </div>
        <div v-for="user in users" :key="user.id">
            <router-link :to="{name: 'user.messages', params: {id: user.id}}">
                <div class="flex row mb-4 backdrop-blur-md bg-white/20 text-white p-4 rounded-2xl">
                    <div class="mr-4">
                        <img :src="user.avatar ?? ('/storage/avatars/default.jpg')" alt="" class="object-cover h-16 w-16 rounded-3xl">
                    </div>
                    <div>
                        <p>{{ user.name }}</p>
                        <p>{{ user.email }}</p>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: "Chat-list",

    data() {
        return {
            users: []
        }
    },

    mounted() {
        this.getChatListUsers()
    },

    methods: {
        getChatListUsers() {
            axios.get('/api/users/chat_list_users')
                .then(res => {
                    this.users = res.data;
                })
        }
    }
}
</script>

<style scoped>

</style>
