<template>
    <div class="w-11/12 lg:w-4/12 mx-auto">

        <div v-if="posts">
            <Post v-for="post in posts" :post="post"></Post>
        </div>

    </div>
</template>

<script>
import Post from "../../components/Post.vue";
export default {
    name: "Feed",

    data() {
        return {
            posts: [],
        }
    },

    components: {
        Post
    },

    mounted() {
        this.getPosts()
    },

    methods: {
        getPosts() {
            axios.get(`/api/users/following_posts`)
                .then(res => {
                    this.posts = res.data.data
                })
        },
    }
}
</script>

<style scoped>

</style>
