<template>
    <div class="w-11/12 lg:w-4/12 mx-auto mt-8">
        <div v-if="users">
            <div class="flex justify-between items-centre my-2 p-4 rounded-2xl backdrop-blur-md bg-white/20"
                 v-for="user in users" :key="user.id">
                <router-link :to="{name: 'user.show', params: {id: user.id}}">
                    <div class="flex row">
                        <div class="flex flex-col">
                            <div class="mr-4 mb-4">
                                <img :src="user.avatar ?? ('/storage/avatars/default.jpg')" alt=""
                                     class="object-cover h-32 w-32 rounded-2xl">
                            </div>
                            <div>
                                <a @click.prevent="toggleFollowing(user)"
                                   :class="['block p-2 w-32 text-center text-white text-sm rounded-2xl', user.is_followed ? 'bg-transparent border border-sky-500' : 'border border-solid border-sky-500 text-white rounded-full bg-sky-500/20']"
                                   href="#">{{ user.is_followed ? 'Unfollowed' : 'Follow' }}</a>
                            </div>
                        </div>

                        <div class="text-white">
                            <p>{{ user.name }}</p>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </router-link>
                <!--                <div>-->
                <!--                    <a @click.prevent="toggleFollowing(user)"-->
                <!--                       :class="['block p-2 w-32 text-center text-white text-sm rounded-2xl', user.is_followed ? 'bg-transparent border border-sky-500' : 'border border-solid border-sky-500 text-white rounded-full bg-sky-500/20']"-->
                <!--                       href="#">{{ user.is_followed ? 'Unfollowed' : 'Follow' }}</a>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Index",

    data() {
        return {
            users: []
        }
    },

    mounted() {
        this.getUsers()
    },

    methods: {
        getUsers() {
            axios.get('/api/users')
                .then(res => {
                    this.users = res.data.data
                })
        },
        toggleFollowing(user) {
            axios.post(`/api/users/${user.id}/toggle_following`)
                .then(res => {
                    user.is_followed = res.data.is_followed;
                })
        }
    }
}
</script>

<style scoped>

</style>
