<template>
    <div class="w-11/12 lg:w-4/12 mx-auto my-12 p-4 pb-16 rounded-lg backdrop-blur-md bg-white/20 text-black">
        <div>
            <input v-model="email" type="email" placeholder="email" class="w-full p-2 pl-4 mb-2 border border-inherit rounded-full bg-transparent placeholder-white">
        </div>
        <div>
            <input @keyup.enter="login" v-model="password" type="password" placeholder="password" class="w-full p-2 pl-4 border border-inherit rounded-full bg-transparent placeholder-white">
        </div>
        <div>
            <input @click.prevent="login" type="submit" value="login" class="float-right mx-auto w-full mt-2 p-2 border border-solid border-sky-500 text-white rounded-full bg-sky-500/20 cursor-pointer">
        </div>
    </div>
</template>

<script>
export default {
    name: "Login",

    data() {
        return {
            email: null,
            password: null,
        }
    },

    methods: {
        login() {
            axios.get('/sanctum/csrf-cookie')
                .then(response => {
                    axios.post('/login', {email: this.email, password: this.password})
                        .then(r => {
                            localStorage.setItem('x_xsrf_token', r.config.headers['X-XSRF-TOKEN'])
                            this.$router.push({name: 'user.personal'})
                        })
                        .catch(err => {
                        })
                })
        }
    }
}
</script>

<style scoped>

</style>
