<template>
    <div class="w-11/12 lg:w-4/12 mx-auto py-6">
        <div class="rounded-2xl backdrop-blur-md bg-white/20 p-4 mb-6">
            <div class="mb-4">
                <input type="text" @keyup.enter="sendMessage" v-model="body"
                       class="border border-inherit rounded-full bg-transparent placeholder-white p-2 pl-4 w-full"
                       placeholder="your message">
            </div>
            <div>
                <a @click.prevent="sendMessage" href="#"
                   class="block text-center border border-solid border-sky-500 text-white rounded-full bg-sky-500/20 py-2 w-full">Send</a>
            </div>
        </div>

        <div v-if="messages.length > 0" class="rounded-2xl backdrop-blur-md bg-white/20 p-4">
                        <div class="text-sm font-light mb-4 italic text-white">
                            talking to {{ interlocutorName }}
                        </div>
            <div v-for="message in messages" :key="message.id"
                 :class="['w-2/3 text-white rounded-full border px-4 mb-2', message.to_id == userId ? 'border-lime-400 bg-lime-400/20 ml-auto' : 'border-sky-500 bg-sky-500/20']">
                <p>{{ message.body }}</p>
                <p class="text-sm text-white text-right italic">{{ message.time }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Messages",

    data() {
        return {
            messages: [],
            body: '',
            userId: null,
            numberChannel: null,
            interlocutorName: ''
        }
    },

    created() {
        this.numberChannel = localStorage.getItem('number_channel')
    },

    mounted() {
        this.userId = this.$route.params.id
        this.getMessages()
        this.getInterlocutorName()

        window.Echo.private('message.' + this.numberChannel)
            .listen('.sendMessage', res => {
                this.messages.unshift(res.message)
            })
    },

    methods: {

        getMessages() {
            axios.get(`/api/users/${this.userId}/messages`)
                .then(res => {
                    this.messages = res.data
                })
        },

        sendMessage() {
            axios.post(`/api/users/${this.userId}/messages`, {body: this.body})
                .then(res => {
                    this.messages.unshift(res.data)
                    this.body = ''
                })
        },

        getInterlocutorName() {
            axios.get(`/api/users/${this.userId}/interlocutor`, {id: this.userId})
                .then(res => {
                    this.interlocutorName = res.data
                    }
                )
        }

    },
}
</script>

<style scoped>

</style>
