<template>
    <Profile></Profile>
    <div v-if="unreadComment" class="w-4/12 mx-auto text-lime-500 mb-4">You have unread comments</div>
    <div class="w-11/12 lg:w-4/12 mx-auto">
        <Statistics :stats="stats"></Statistics>
        <div class="my-2 p-2 rounded-2xl backdrop-blur-md bg-white/20">
            <div class="mb-3">
                <div class="text-sm my-2 text-white">
                    <span>Create new post</span>
                </div>
                <input v-model="title" class="w-full rounded-2xl p-2 pl-4 border border-inherit rounded-full bg-transparent placeholder-white" type="text"
                       placeholder="title">
                <div v-if="errors.title">
                    <p v-for="error in errors.title" class="mt-2 text-sm text-red-500">{{ error }}</p>
                </div>
            </div>
            <div class="mb-3">
                <textarea v-model="content" class="w-full rounded-2xl p-2 pl-4 border border-inherit rounded-full bg-transparent placeholder-white"
                          placeholder="content"></textarea>
                <div v-if="errors.content">
                    <p v-for="error in errors.content" class="mb-2 text-sm text-red-500">{{ error }}</p>
                </div>
            </div>
            <div class="flex mb-3 items-center">
                <div>
                    <input @change="storeImage" ref="file" type="file" class="hidden">
                    <a href="#"
                       class="block p-2 w-32 text-center text-sm border border-solid border-sky-500 text-white rounded-full bg-sky-500/20 cursor-pointer"
                       @click.prevent="selectFile()">Image</a>
                </div>
                <div>
                    <a v-if="image" @click.prevent="image = null" href="#" class="ml-3">Cancel</a>
                </div>
            </div>
            <div v-if="image" class="mb-3">
                <img :src="image.url" alt="preview">
            </div>
            <div>
                <a @click.prevent="store" href="#"
                   class="block p-2 w-32 text-center ml-auto rounded-full text-white border border-lime-400 bg-lime-400/20 cursor-pointer">Publish</a>
            </div>
        </div>

        <div v-if="posts" class="">
            <Post v-for="post in posts" :post="post" :key="post.id" :change-comment-status="changeCommentStatus"></Post>
        </div>

    </div>
</template>

<script>
import Post from "../../components/Post.vue";
import Statistics from "../../components/Statistics.vue";
import Profile from "../../components/Profile.vue";

export default {
    name: "Personal",

    components: {
        Post,
        Statistics,
        Profile,
    },

    data() {
        return {
            title: '',
            content: '',
            image: null,
            unreadComment: null,
            posts: [],
            errors: [],
            stats: [],
        }
    },

    mounted() {
        this.getPosts()
        this.getStats()
    },

    watch: {
        posts() {
            this.unreadComment = this.posts.find(post => post.unread_comment === true);
        }
    },

    methods: {

        getStats() {
                axios.post('/api/users/stats', {user_id: null})
                    .then(res => {
                        this.stats = res.data.data
                    })
        },

        getPosts() {
            axios.get('/api/posts')
                .then(res => {
                    this.posts = res.data
                })
        },

        changeCommentStatus() {
            this.getPosts()
        },

        store() {
            const id = this.image ? this.image.id : null
            axios.post('/api/posts', {title: this.title, content: this.content, image_id: id})
                .then(res => {
                    this.title = ''
                    this.content = ''
                    this.image = null
                    this.posts.unshift(res.data.data)
                })
                .catch(e => {
                    this.errors = e.response.data.errors
                })
        },

        selectFile() {
            this.fileInput = this.$refs.file;
            this.fileInput.click();
        },

        storeImage(e) {
            const file = e.target.files[0]
            const formData = new FormData
            formData.append('image', file)

            axios.post('/api/posts/post_images', formData)
                .then(res => {
                    this.image = res.data.data
                })
        },

    }
}
</script>

<style scoped>

</style>
