<template>
    <div>
        <div class="w-11/12 lg:w-4/12 mx-auto my-12 p-4 pb-16 rounded-lg backdrop-blur-md bg-white/20 text-black">

            <div>
                <input v-model="name" type="name" placeholder="name"
                       class="w-full p-2 pl-4 mb-2 border border-inherit rounded-full bg-transparent placeholder-white">
            </div>
            <div>
                <input v-model="email" type="email" placeholder="email"
                       class="w-full p-2 pl-4 mb-2 border border-inherit rounded-full bg-transparent placeholder-white">
            </div>
            <div>
                <input v-model="password" type="password" placeholder="password"
                       class="w-full p-2 pl-4 mb-2 border border-inherit rounded-full bg-transparent placeholder-white">
            </div>
            <div>
                <input @keyup.enter="register" v-model="password_confirmation" type="password" placeholder="password_confirmation"
                       class="w-full p-2 pl-4 border border-inherit rounded-full bg-transparent placeholder-white">
            </div>
            <input @click.prevent="register" @keyup.enter="register" type="submit" value="register"
                   class="float-right mx-auto w-full mt-2 p-2 border border-solid border-sky-500 text-white rounded-full bg-sky-500/20 cursor-pointer">
        </div>
    </div>
</template>

<script>
export default {
    name: "Registration",

    data() {
        return {
            name: null,
            email: null,
            password: null,
            password_confirmation: null,
        }
    },

    methods: {
        register() {
            axios.get('/sanctum/csrf-cookie')
                .then(response => {
                    axios.post('/register', {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    })
                    .then( res => {
                        localStorage.setItem('x_xsrf_token', res.config.headers['X-XSRF-TOKEN'])
                        this.$router.push({name: 'user.personal'})
                    })
                })
        }
    }
}
</script>

<style scoped>

</style>
