<template>
    <div>
        <Profile></Profile>
        <div class="w-11/12 lg:w-4/12 mx-auto">
            <Statistics :stats="stats"></Statistics>

            <div v-if="posts">
                <Post v-for="post in posts" :post="post" :key="post.id" :change-comment-status="changeCommentStatus"></Post>
            </div>

        </div>
    </div>
</template>

<script>
import Post from "../../components/Post.vue";
import Statistics from "../../components/Statistics.vue";
import Profile from "@/components/Profile.vue";

export default {
    name: "Show",

    data() {
        return {
            posts: [],
            userId: this.$route.params.id,
            stats: []
        }
    },

    components: {
        Profile,
        Post,
        Statistics
    },

    mounted() {
        this.getPosts()
        this.getStats()
    },

    methods: {

        getStats() {
            axios.post('/api/users/stats', {user_id: this.userId})
                .then(res => {
                    this.stats = res.data.data
                })
        },

        getPosts() {
            axios.get(`/api/users/${this.userId}/posts`)
                .then(res => {
                    this.posts = res.data.data
                })
        },

        changeCommentStatus() {
            this.getPosts()
        },
    }
}

</script>

<style scoped>

</style>
