<template>
    <div class="">
        <div class="box-border flex justify-between p-8 w-11/12 lg:w-4/12 mx-auto rounded-2xl backdrop-blur-md bg-white/20 text-white">
            <router-link v-if="!token" :to="{name: 'user.login'}">Login</router-link>
            <router-link v-if="token" :to="{name: 'user.index'}">Users</router-link>
            <router-link v-if="token" :to="{name: 'user.feed'}">Feed</router-link>
            <router-link v-if="token" :to="{name: 'user.personal'}">Personal</router-link>
            <router-link v-if="!token" :to="{name: 'user.registration'}">Registration</router-link>
            <a v-if="token" @click.prevent="logout" href="#">Logout</a>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "App",
    data() {
        return {
            token: null
        }
    },

    mounted() {
        this.getToken()
    },

    watch: {
        $route(to, from) {
            this.getToken()
        }
    },

    methods: {

        getToken() {
            this.token = localStorage.getItem('x_xsrf_token')
        },

        logout() {
            axios.post('/logout')
                .then(res => {
                    localStorage.removeItem('x_xsrf_token')
                    localStorage.removeItem('number_channel')
                    this.$router.push({name: 'user.login'})
                })
        }
    }
}
</script>

<style scoped>

</style>
