<template>
    <div class="my-8 px-4 py-4 backdrop-blur-md bg-white/20 text-white rounded-2xl">

        <div v-if="post.reposted_post" class="p-4 my-4 border border-grey-200 bg-white/50 rounded-2xl">
            <p class="italic">reposted by {{ post.reposted_post.user.name }}</p>
            <img class="my-3 mx-auto rounded-2xl" v-if="post.reposted_post.image_url"
                 :src="post.reposted_post.image_url"
                 :alt="post.reposted_post.title">
            <p class="text-lg font-medium">{{ post.reposted_post.title }}</p>
            <p class="text-lg">{{ post.reposted_post.content }}</p>
        </div>

        <div v-if="urlHasFeed">
            <p class="text-sm italic">{{ post.user.name }}</p>
        </div>
        <img class="my-3 mx-auto rounded-2xl" v-if="post.image_url" :src="post.image_url" :alt="post.title">
        <p class="text-lg font-semibold">{{ post.title }}</p>
        <p class="text-lg">{{ post.content }}</p>
        <hr class="my-4">

        <div class="flex justify-between items-center mt-2">
            <div class="flex">
                <div class="flex mr-3">
                    <svg @click.prevent="toggleLike(post)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor"
                         :class="['mr-2 stroke-white cursor-pointer w-6 h-6', post.is_liked ? 'fill-red-500' : 'fill-none']">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"/>
                    </svg>
                    <p>{{ post.likes_count }}</p>
                </div>
                <div class="flex">
                    <svg @click.prevent="openRepost()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         stroke-width="1.0" stroke="currentColor"
                         :class="['mr-2 stroke-white cursor-pointer w-6 h-6 fill-none']">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3"/>
                    </svg>
                    <p>{{ post.reposted_by_posts_count }}</p>
                </div>
            </div>
            <p class="text-right text-sm text-white">{{ post.date }}</p>
        </div>

        <div v-if="isRepost" class="mt-4">
            <div>
                <input v-model="title" class="w-96 mb-3 rounded-3xl border p-2 border-slate-300" type="text"
                       placeholder="title">
            </div>
            <div v-if="errors.title">
                <p v-for="error in errors.title" class="mb-2 text-sm text-red-500">{{ error }}</p>
            </div>
            <div>
                <textarea v-model="content" class="w-96 mb-3 rounded-3xl border p-2 border-slate-300"
                          placeholder="content"></textarea>
            </div>
            <div v-if="errors.content">
                <p v-for="error in errors.content" class="mb-2 text-sm text-red-500">{{ error }}</p>
            </div>

            <div class="box-border">
                <a @click.prevent="repost(post)" href="#"
                   class="p-2 w-32 text-center rounded-3xl bg-lime-400 text-white hover:bg-white hover:box-border hover:border-green-600 hover:text-green-600  ml-auto">Publish</a>
            </div>
        </div>

        <div v-if="post.comments_count > 0" class="text-sm mt-4">
            <p v-if="unreadComment" class="text-sm text-white">Unread comments</p>
            <p v-if="!isShowed" @click="getComments(post)" class="text-sm text-sky-500 cursor-pointer">Show
                {{ post.comments_count }} comments</p>
            <p v-if="isShowed" @click="isShowed = false" class="text-sm text-sky-500 cursor-pointer">Close</p>
            <div v-if="comments && isShowed">
                <div v-for="comment in comments" class="mt-4 pt-4 border-t border-gray-200">
                    <div class="flex mb-2">
                        <p class="text-sm mr-2">{{ comment.user.name }}</p>
                        <p @click="setParentId(comment)" class="text-sm text-sky-500 cursor-pointer">-answer</p>
                    </div>
                    <p class="text-base italic">
                        <span v-if="comment.answered_for_user" class="text-sky-400">{{ comment.answered_for_user }},
                        </span>{{ comment.body }}</p>
                    <p class="text-right text-sm text-sky-400">{{ comment.date }}</p>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="mb-3">
                <div v-if="comment" class="flex items-center">
                    <p>Answered for {{ comment.user.name }}</p>
                    <p @click="comment = null" class="cursor-pointer text-sm ml-2 text-sky-400">Cancel</p>
                </div>
                <input v-model="body"
                       class="w-3/4 p-2 border border-inherit rounded-full bg-transparent placeholder-white" type="text"
                       placeholder="comment">
                <div v-if="errors.body">
                    <p v-for="error in errors.body" class="mb-2 text-sm text-red-500">{{ error }}</p>
                </div>
            </div>
            <div>
                <a @click.prevent="storeComment(post)" href="#"
                   class="block p-2 w-32 text-center ml-auto rounded-full text-white border border-lime-400 bg-lime-400/20 cursor-pointer">Comment</a>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "Post",

    props: {
        post: Object,
        changeCommentStatus: Function
    },

    data() {
        return {
            title: '',
            content: '',
            body: '',
            errors: [],
            comments: [],
            isRepost: false,
            repostedId: null,
            isShowed: false,
            comment: null,
            unreadComment: null,
            urlHasFeed: false
        }
    },

    mounted() {
        this.urlHasFeed = (this.$route.name === 'user.feed')
        this.unreadComment = this.post.unread_comment
    },

    methods: {
        toggleLike(post) {
            axios.post(`/api/posts/${post.id}/toggle_like`)
                .then(res => {
                    post.is_liked = res.data.is_liked
                    post.likes_count = res.data.likes_count
                })
        },

        setParentId(comment) {
            this.comment = comment
        },

        storeComment(post) {
            const commentId = this.comment ? this.comment.id : null
            axios.post(`/api/posts/${post.id}/comment`, {body: this.body, parent_id: commentId})
                .then(res => {
                    this.body = ''
                    this.comments.unshift(res.data.data)
                    this.comment = null
                    post.comments_count++
                    this.isShowed = true
                    this.unreadComment = true
                    this.changeCommentStatus();
                })
                .catch(e => {
                    this.errors = e.response.data.errors
                })
        },

        getComments(post) {
            axios.get(`/api/posts/${post.id}/comment`)
                .then(res => {
                    this.comments = res.data
                    this.isShowed = true
                    this.unreadComment = false
                    this.changeCommentStatus();
                })
        },

        openRepost() {
            if (this.isPersonal()) return
            this.isRepost = !this.isRepost
        },

        repost(post) {
            if (this.isPersonal()) return
            axios.post(`/api/posts/${post.id}/repost`, {
                title: this.title,
                content: this.content,
            }).then(res => {
                this.title = ''
                this.content = ''
            }).catch(e => {
                this.errors = e.response.data.errors
            })
        },

        isPersonal() {
            return this.$route.name === 'user.personal'
        },

    }
}
</script>

<style scoped>

</style>
