<template>
    <div class="flex flex-row w-11/12 lg:w-4/12 mx-auto rounded-2xl my-4 p-2 backdrop-blur-md bg-white/20">
        <div class="flex flex-col basis-1/3">
            <div class="m-auto rounded-3xl mb-1">
                <div v-if="user" class="h-32 w-32">
                    <img :src="user.avatar ?? ('/storage/avatars/default.jpg')" alt="" class="object-cover h-32 w-32 rounded-2xl">
                </div>
            </div>
            <div v-if="!userId" class="m-auto ">
                <input @change="storeAvatar" ref="file" type="file" class="hidden">
                <a href="#"
                   class="block w-32 text-center text-sm border border-solid border-sky-500 text-white rounded-full bg-sky-500/20 cursor-pointer"
                   @click.prevent="selectFile()">Change avatar</a>
            </div>
            <div>
                <router-link :to="{name: 'user.chat'}" v-if="!userId"
                             class="block m-auto mt-2 w-32 text-center rounded-full text-white border border-lime-400 bg-lime-400/20 cursor-pointer">
                    Chat
                </router-link>
            </div>
        </div>
        <div v-if="user" class="w-full">
            <div class="mx-4 text-white">
                <div class="text-xl">
                    {{ user.name }}
                </div>
                <div class="text-sm text-white">
                    e-mail - {{ user.email }}
                </div>
            </div>
            <div class="mx-4">
                <div v-if="userId">
                    <router-link :to="{name: 'user.messages', params: {id: user.id}}"
                                 class="block p-2 w-32 text-center rounded-full border border-lime-400 bg-lime-400/20 text-white cursor-pointer ml-auto mt-8">
                        Message
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "Profile",

    data() {
        return {
            user: null,
            userId: null
        }
    },

    mounted() {
        this.userId = this.$route.params.id ?? null
        this.aboutUser()
    },

    methods: {

        selectFile() {
            this.fileInput = this.$refs.file;
            this.fileInput.click();
        },

        storeAvatar(e) {
            const file = e.target.files[0]
            const formData = new FormData
            formData.append('image', file)

            axios.post(`/api/users/avatar`, formData)
                .then(res => {
                    this.user['avatar'] = res.data.data['url']
                })
        },

        aboutUser() {
            axios.post('/api/users/about_user', {user_id: this.userId})
                .then(res => {
                    this.user = res.data
                })
        }

    }
}
</script>

<style scoped>

</style>
